<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="adventure.liya.mgr.com.liya">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ecran.AccueilActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ecran.ActionActivity" />
        <activity android:name=".ecran.CombatActivity" />
        <activity android:name=".ecran.SelectionAventureActivity" />
        <activity android:name=".ecran.DetailAventureActivity" />
        <activity android:name=".ecran.SelectionHerosActivity"></activity>
    </application>

</manifest>